.register {
  height: 89vh;
  display: flex;
  justify-content: center;
  .reg_box {
    background-color: rgba(231, 39, 125, 0.8);
    color: white;
    height: 400px;
    width: 500px;
    border-radius: 10%;
    position: relative;
    top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 7px rgb(144, 177, 188);
    animation: appear 0.5s ease;
    p {
      font-size: 1.25rem;
      position: relative;
      top: 4px;
      margin: 2px;
    }
    hr {
      position: relative;
      top: 5px;
      height: 1.6px;
      width: 460px;
      background-color: rgb(255, 255, 255);
      border: 1.6px;
    }
    .username,
    .email,
    .password {
      font-size: 1.5rem;
      width: 400px;
      margin: 2px;
      input {
        border-radius: 8px;
        width: 100%;
        height: 2rem;
        border: 0;
        font-size: 1.3rem;
      }
      input:focus {
        border: 0px;
      }
    }
    .username {
      position: relative;
      top: 30px;
    }
    .email {
      position: relative;
      top: 50px;
    }
    .password {
      position: relative;
      top: 70px;
    }
    button {
      position: relative;
      top: 90px;
      border: 0px;
      font-size: 1.25rem;
      padding: 9px;
      margin: 1rem 2rem;
      border-radius: 5px;
      background-color: rgb(4, 165, 229);
      color: white;
      width: 160px;
    }
    button:hover {
      background-color: rgb(245, 160, 139);
    }
  }
}
