@keyframes appear {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes quickRotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(1080deg);
  }
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  transform: scale(0);
  transition: transform 500ms ease;
}
