* {
  margin: 0;
  padding: 0;
  border: 0.1px rgb(255, 0, 0) solid;
  box-sizing: border-box;
  background-color: black;
  color: white;
  font-size: 1.25rem;
  font-family: "Crimson Text", serif;
}
a {
  text-decoration: none;
  color: white;
}
body {
  overflow-y: hidden;
}
button {
  cursor: pointer;
}

@import "./pages";
@import "./components";
