* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
body {
  overflow-y: hidden;
  background-image: linear-gradient(
    to right,
    rgb(255, 215, 215),
    rgb(239, 225, 199),
    rgb(247, 247, 207),
    rgb(193, 246, 227),
    rgb(203, 203, 254),
    rgb(252, 225, 252)
  );
}
button {
  cursor: pointer;
}

@import "./pages";
@import "./components";
@import "./animation";
